/*@font-face {
	font-family: 'BRLNSR';
	src: url('../fonts/BRLNSR.eot');
	src: local('☺'), 
	url('../fonts/BRLNSR.woff') format('woff'), 
	url('../fonts/BRLNSR.ttf') format('truetype'), 
	url('../fonts/BRLNSR.svg') format('svg');
	font-weight: 200;
	font-style: normal;
}*/
*,
*::before,
*::after
{
	box-sizing: border-box;
}
/*#locales ::selection/*factores de pseudocodigo*/ /*locales cuando queremos identificar solo a la seccion locales
{
	background-color: #7ea04d;
	color: #fff;
}*/
::selection/*factores de pseudocodigo*/ /*locales cuando queremos identificar solo a la seccion locales*/
{
	background-color: var(--amarillo);
	color: #fff;
}

::-webkit-scrollbar {
  width: 1rem;
}
 
::-webkit-scrollbar-track {
  background-color: #cee397;
  /*box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);*/
}
 
::-webkit-scrollbar-thumb {
  background-color: #ffa62b;
  outline: 0.1rem solid slategrey;
}

::-webkit-input-placeholder { 
  color: var(--verde);
}
:root
{
	--amarillo: #ffe05d;
	--verde:#799351;
}

html
{
	font-size: 0.94vw;

}
body
{
	font-family: 'Asap';
	color: #413E4A;
	font-weight: 200;
	margin: 0;
	font-size: 1rem;
	
}
body.abierto
{
	overflow: hidden;
}
/*video
{
	position: fixed;
	min-width: 100%;
	min-height: 100%;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);

}*/
a
{
	display: inline-block;
}
section
{
	position: relative;
}
footer
{

}
footer .prefooter
{
	position: relative;
	bottom: -2.8rem;

}
footer .pie
{
	color: #fff;
	padding-bottom: 1rem;
	background-color: #7ea04d;
	padding-top: 5rem;
}

footer .pie a
{
	color: #fff;
}
footer .pie .lista-redes 
{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
footer .pie .lista-redes a
{
	margin-left: 1rem;
	font-size: 1.2rem;

}

.cabecera
{
	padding-top: 1rem;
	padding-bottom: 1rem;
	/*background-color: rgb(2,70,31);*/
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 3;
	transition: all 0.5s ease;
}
.cabecera.fondo
{
	background-color: rgba(2,70,31,0.8);
}
.cabecera.fondo .link-logo .logo
{
	width: 3rem;
}

.cabecera .container
{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.cabecera .link-logo
{
	display: inline-block;
	vertical-align: middle;
}
.cabecera .link-logo .logo
{
	width: 5.5rem;
	height: auto;
	transition: all 0.5s ease;
}
.cabecera .menu
{
	/*position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #62760c;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;*/
}

.cabecera .menu a
{

	margin-left: 0.5rem;
	margin-right: 0.5rem;
	color: rgba(246,215,67,1);
	font-size: 0.9rem;
	font-weight: 600; /*profundidad de la tipografia de las letras*/
	text-transform: uppercase;/*transformamos texto en mayuscula*/
	/*text-transform: lowercase*;/*para minusculas*/
	/*text-transform: capitalize*;/*la primera sea mayuscula y el resto en minuscula*/
	text-decoration: none;
	letter-spacing: 0.15rem;/*separamos entre letra y letra*/
	word-spacing: 0.3rem; /*es para separa palabra y palabra*/
	transition: all 0.5s ease;/*siempre la transicion va en el estado a*//*propieda cubic-bezier(.17,.66,.87,-0.03) propia transicion*/
				/* 0.5s y 0.5s el primero es el antes y el segundo es el despues en el retardo*/
	/*pointer-events: none; funciona cuando no queremos que funcione el evento click*/
}
.cabecera .menu span
{
	color: white;
}
.cabecera .menu .seleccionado,
/*PSEUDO ELEMENTO SON DOS SEGUIDOS PUNTO :: Y EN PSEUDO CLASE SON DOS PUNTOS :*/ 
.cabecera .menu a:hover
{
	color: #fffd85;
}
.cabecera .menu a:first-child
{
	margin-left: 0;
}
.cabecera .menu a:last-child
{
	margin-right: 0;
}
.saltarina
{
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 100%;
	border:0.2rem solid #fff;
	color: #fff;
	text-decoration: none;
	display: flex;
	font-size: 1.8rem;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: 3rem;
	left: 50%;
	transform: translateY(-50%);
	animation-name: saltar;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	/*animation-direction: alternate;*/
}
.saltarina:hover
{
	animation-play-state: paused;
}
@keyframes saltar
{
	/*from{
		bottom: 3rem;
	}
	to{
		bottom: 5rem;
	}*/
	0%{	bottom: 3rem;}
	/*25%{color:yellow; border-color:yellow;}*/
	50%{bottom: 5rem;}
	100%{bottom: 3rem;}
}
/*.cabecera .menu a:nth-child(3)
{
	background-color: yellow;
}*/
/*.cabecera .menu a:nth-child(odd)/*impart
{
	background-color: yellow;
}
.cabecera .menu a:nth-child(even)/*par
{
	background-color: red;
}*/
/* ----- visited es la veces que visitaste ----------
.cabecera .menu a:visited
{
	color: red;
}
*/

/*.cabecera .menu a[target=_blank]/*cuando queremos el valor tal cual
{
	color: red;
}*/
/*.cabecera .menu a[href*='#']/*cuadndo una palabra esta dentro de una palabra
{
	color: blue;
}
.cabecera .menu a[href^='#']/*cuando colocamos por inicio de una palabra
{
	color: white;
}*/

.cabecera .buses
{
	color: rgba(246,215,67,1);
	font-size: 2.8rem;
	display: none;
}
.container
{
	width: 85.75%;
	padding: 0 1rem;/*espacio hacia adentro*/
	margin: 0 auto; /*espacio hacia afuera*/
}
.container-full
{
	width: 100%;
	padding: 0 1rem;
}
.fila
{
	margin-left: -1rem;
	margin-right: -1rem;
	display: flex;
	flex-wrap:wrap;
}
.fila.fila-centrada
{
 	justify-content: center;
}
.columna
{
	padding-left: 1rem;
	padding-right: 1rem;
	
}
.columna-100
{
	width: 100%;
}
.columna-50
{
	width: 50%;
}
.columna-41
{
	width: 41.66%;
}
.columna-33
{
	width: 33.33%;
}
.columna-25
{
	width: 25%;
}
.columna-16
{
	width: 16.66%;
}
.columna-8
{
	width: 8.33%;
}

.empujar-33
{
	margin-left: 33.33%;
}

.orden
{
	order: 2;
}
.sin-padding
{
	padding-right: 0;
	padding-left: 0;
}
.padding-grande
{
	padding: 4rem;
}
.contenedor-cuadrado 
{
	width: 100%;
	padding-bottom:100%;
	position: relative;
	overflow: hidden;
	background-color: #81b214;
	cursor: pointer;
	
}
.contenedor-cuadrado.con-rect
{
	padding-bottom: 56.25%;
}
.contenedor-cuadrado img
{

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit:cover; /*cubrir todo el espacio que se encuentra se utiliza para video como tambien par imagen*/
	object-position: center;
	transition:all 0.5s ease;
}
.contenedor-cuadrado:hover img
{
	transform:scale(1.4) rotate(-30deg);
	/*transform:scale(1.4) rotateX(-30deg); esto es para el eje x*/
	/*transform:scale(1.4) rotateY(30deg); esto es para el eje y*/
	opacity: 0.75;
	filter: grayscale(1);
}
.contenedor-cuadrado.con-rect:hover img
{
	transform:none;
}

.contenedor-cuadrado .contenido-cuadrado 
{
	position: absolute;
	text-align: center;
	width: 100%;
	padding-right: 2rem;
	padding-left: 2rem;
	top: -100%;
	color: #fff;
	transition:all 0.5s ease;
}
.contenedor-cuadrado:hover .contenido-cuadrado 
{
	top: 50%;
	transform:translateY(-50%);
}
.contenedor-cuadrado .contenido-cuadrado h2
{
	margin-top: 0;
}
.mapa
{
	position: relative;
	padding-bottom: 33.33%;
	width: 100%;
}
.mapa iframe 
{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	filter: grayscale(1);
}
.seccion
{
	padding-top: 4rem;
	padding-bottom: 4rem;
}
.seccion_formulario section
{
	box-sizing: border-box;
}

.centrar-texto
{
	text-align: center;
}
.derecha-texto
{
	text-align: left;
}
.inclinar--texto
{
 	font-style: italic;
}
.justificar-texto
{
	text-align: justify;
}
.video-fondo
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover; /*cubre todo el video*/
	object-position: center;
	z-index: 1;
	filter: grayscale(1);
	opacity: 0.5;

}
.importante
{
	font-style: italic;
}
.titulos
{
	margin-top: 0;
	margin-bottom: 2.8rem;
	text-align: center;
	font-size: 2.8rem;
	text-shadow: 1.3rem 1.5rem 0.15rem #e5df88;
	position: relative;
	padding-top: 1rem;
	display: inline-block;
	padding-right: 1rem;
	padding-left: 1rem;
}
.titulos::before
{
	position: absolute;
	top:0;
	width: 3rem;
	left: 50%;
	height: 0.13rem;
	background-color: #413E4A;
	margin-left: -1.5rem;
	content: " ";
}
.titulos::after
{
	position: absolute;
	top:0;
	width: 0.13rem;
	left: 0;
	height: 100%;
	background-color: #413E4A;
	content: " ";
}
.margen-arriba
{
	margin-top: 2.8rem;
}
.btn 
{
	padding: 0.8rem 2rem;
	font-size: 16px;
	text-decoration: none;
	text-align: center;
	border-radius: 15px;
	border-width: 2px;
	border-style: solid;
	transition: all 0.5s ease;

}
.btn-circulo
{
	width: 2.8rem;
	height: 2.8rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0.3rem;
	font-size: 1.3rem;
	border-radius: 100%;
	border-width: 0.15rem;
	border-style: solid;
	text-decoration: none;
	transition: all 0.5s ease;
}
.btn-circulo.border-blanco
{
	color: #fff;
	border-color: #fff;
}
.btn-circulo.border-blanco:hover
{
	color: #9DE0AD;
	background-color: #fff;
}
.btn.boton-transparente
{
	background-color: transparent;
	border-color:#ffc93c;
	color: #ffc93c;
	
}
.btn.boton-transparente:hover
{
	background-color: #ffc93c;
	border-color:#ffc93c;
	color: #fff;	
	/*transform: skew(30deg);
	transform: perspective(2rem) rotateX(30deg);*/
}
/*.btn.boton-transparente span
{	
	transition: all 0.5s ease;
}
.btn.boton-transparente:hover span
{
	display: inline-block;	
	transform: skew(-30deg);
}*/

.btn.boton-amarillo
{
	border-color: #ebdc87;
	background-color: #ebdc87;
	color: #62760c;
}
.btn.boton-amarillo:hover
{
	border-color: #62760c;
	background-color: #62760c;
	color: #fff;

}
.form-bloques .form-bloques1
{
	position: absolute;
	/*top:0;
	left: 0;
	transform:translate(-50%, 50%);*/
}
.form-bloques1 select
{
	background: #9F7E69;
	color: #fff;
	padding: 10px;
	width: 250px;
	height: 50px;
	border:none;
	font-size: 18px;
	box-shadow: 0 5px 25px #F2EFC7;
	/*box-shadow: 0 5px 25px rgba(0,0,0,.5);
	/*-webkit-appearance: button;*/
	outline: none;
	
}
.form-bloques1 select:hover
{
	background: #799351;
}
.form-bloques1:before
{
	/*content: '\f358';
	font-family: "Font Awesome 5 Free";
	/*position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	color: #fff;
	font-size: 25px;
	background:#007ce0;
	pointer-events: none;*/
}
.form-bloques1:hover:before
{
	/*background: #0472ca;*/
}

.form-bloques
{
	display: block;
	margin-bottom: 1rem;
}
.form-bloques .fomr-input
{
	width: 100%;
	height: 3.5rem;
	padding: 0.75rem;
	border: 0.13rem solid #799351;
	color: var(--verde);
	transition: all 0.5s ease;
	border-radius: 0.75rem;
	font-size: 1.3rem;
}
.form-bloques .fomr-input:focus
{
	outline: 0.1rem solid #adb36e; /*es colocar una linea ensima*/
	box-shadow: 0.1rem 0.13rem 1.3rem 0px #8db596;

}
.form-bloques textarea.fomr-input
{
	height: 10rem;
	resize: none; /*esto es para que no cresca*/
}
/*
	position:
		-static
------------------------------ 
		-relative

		-absolute

		-fixed


			1 top
			2 bottom
			3 left
			4 right
			5 z-index

*/
.formulario {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	width: 45%;
}
.formulario_label
{
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}
.formulario_reserva-input
{
	position: relative;
}
.formulario_input
{
	width: 100%;
	background: #fff;
	border:3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	paddinf: 0 40px 0 10px;
	transition: .3s ease all;
}
.formulario_input:focus
{
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.5);
}
.formulario_input-error
{
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}
.formulario_input-error-activo
{
	display: block;
}
/*icono*/
.formulario_validacion-estado
{
	position: absolute;
	right: 10px;
	bottom:15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}
.formulario_checkbox
{
	margin-right: 10px;
}

.formulario_grupo-termino,
.formulario_mensaje,
.formulario_grupo-btn-enviar
{
	grid-column: span 2;
}
.formulario_mensaje
{
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}
.formulario_mensaje-activo
{
	display: block;
}
.formulario_mensaje p
{
	margin: 0;
}
.formulario_grupo-btn-enviar
{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.formulario_btn
{
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #000;
	color: #fff;
	font-weight: bold;
	border:none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}
.formulario_btn:hover
{
	box-shadow:  3px 0px 30px rgba(163,163,163, 0.8);
}
.formulario_mesaje-exito
{
	font-size: 14px;
	color: #119200;
	display: none;
}
.formulario_mesaje-exito-activo
{
	display: block;
}
/*-- Estilo para validacion --*/
.formulario_grupo-correcto .formulario_validacion-estado
{
	color: #1ed12d;
	opacity: 1;
}
.formulario_grupo-incorrecto .formulario_label
{
	color: #bb2929;
}
.formulario_grupo-incorrecto .formulario_validacion-estado
{
	color: #bb2929;
	opacity: 1;
}
.formulario_grupo-incorrecto .formulario_input
{
	border:3px solid #bb2929;
	
}
/*--- Mediaqueries ---*/

.radiocontainer
{
	display: inline-block;
	position: relative;
	cursor: pointer;
	font-family: sans-serif;
	font-size: 1.2rem;
	user-select: none;
	padding-left: 30px;
}
.radiocontainer input
{
	display: none;
}
.radiocontainer .circle
{
	display: inline-block;
	width: 25px;
	height: 25px;
	background-color: #bcaa7c;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
}
.radiocontainer:hover .circle
{
	background-color: #ccc;
}
.radiocontainer input:checked + .circle
{
	background-color: #2196fc;
}
.radiocontainer input:checked + .circle:after
{
	content: "";
	height: 10px;
	width: 10px;
	background-color: white;
	position: absolute;
	border-radius: 50%;
	left: 50%;
	top: 50%;
	transform: translate(-55%, -55%);
}
#banner
{
	background-color: #000;
	height: calc(100vh - 7rem); /*vieport eich= el alto del vieport*/
}
#banner.banner-nosotros,
#banner.banner-contacto
{
	height: 50vh;
}
#banner .banner-home
{
	width: 100%;
	height: 100%;
	display: block;
	opacity: 0.75;
	object-fit: cover; /*esto es para que cubra toda la imagen*/
	object-position: center;
}
#banner .banner-nosotros .banner-home
{
	object-position: top;
}
#banner .container
{
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
}
#banner .container h1
{
	font-size: 4.8rem;
	color: #fff;
	margin:0;
/*  color:transparent;
	-webkit-text-stroke: 2px #000; /*colocar bordes a las letras*/
	/*text-shadow: 
	0 0 #000,
	-1px 0 #000,
	1px 0 #000,
	1px 1px #000,
	-1px -1px #000,
	-1px 1px #000,
	1px -1px #000,
	0 -1px #000,
	0 1px #000;*/

}
#banner .container p
{
	font-size: 1.3rem;
	color: #e79c2a;
	line-height: 1.5;
	
}
#conocenos
{
	/*background-image: url("../img/tramanormal.png");
	background-repeat: no-repeat;/*es para no repetir*/
	/*background-repeat: repeat-y;/*es para repetir la imagen*/
	/*background-position: center top;/*centreado y arriba*/
	/*background-position: center center;/*centro centro*/
	/*background-size: contain;/*trata de cubrir el espaciado del centro*/
	/*background-size: cover;/*cubre todo el espaciado*/
	/*background-attachment: fixed;/*es cuando la imagen se queda fijo*/
	background-color: #e5df88;
	padding-bottom: 60px;
	background-image: url("../img/trama.png");
	background-position: center bottom;/*centreado y arriba*/
	background-repeat: no-repeat;
	/*padding-top: 60px;*/
	
	
}
#conocenos .titulos
{
	color: #cf7500;
	text-shadow: 1.3rem 1.3rem 0.15rem rgba(255,255,255,0.5);
}
#conocenos .titulos::before,
#conocenos .titulos::after
{
	background-color: #cf7500;	
}
#locales
{

}
#locales ul
{
	padding-left: 0; /*esto para colocar a la izquierda*/
	/*list-style: none; para sacar todas los estilos de la lista*/
	list-style-position: inside;
	list-style-type:none; /*circule, square es para darle estilo a la lista*/
	list-style-image: url("../img/icono.png");
	line-height: 1;/*alto de linea*/
	columns: 3;
	/*column-width:50px; SIRVE PARA COLOCAR UNA IMAGEN ENSIMA DE LA LETRA*/
}
/*--------SELECTOR POR CONVINANCION----------*/
/*#locales p ~ p /* es para colocar la siguiente p que le sigue con el signo + y con el signo ~ es para colocar todas las p que siguen*/
/*{
	background-color: red;
}*/

#servicios
{

}
#servicios .contenedor-serv
{
	text-align: center;
	background-color:#7ea04d;
	padding: 2.8rem 2rem;
	height: 100%;
	border-radius: 1rem;
	transition: all .4s ease;
}
#servicios .contenedor-serv:hover
{
	box-shadow: 0.13rem 0.13rem 1.3rem 0px rgba(89, 130, 31, 0.94);
}

#servicios .contenedor-serv i
{
	font-size: 2.8rem;
	transition: all .4s ease;
}
#servicios .contenedor-serv:hover i
{
	transform: scale(1.2);
	/*transform:scaleX(2);/*para que cresca en el eje X*/
	/*transform:scaleY(2);/*Para que cresca en el eje Y*/
}
#testimonios
{
	position: relative;
	background-color: #bfdcae;
	color: #fff;
	line-height: 1.5;
}
#testimonios .titulos::before,
#testimonios .titulos::after
{
	background-color: #fff;
}
#testimonios p
{
	margin-bottom: 0;
}
#testimonios p::first-letter
{
	font-size: 2rem;
	font-weight: 600px;
}
/*#testimonios p::first-line
{
	background-color: red;
}*/

#testimonios .trama-video
{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	top: 0;
	left: 0;
	background-image: linear-gradient(to bottom right, #81b214 5%, rgba(2,70,31,0.8)50%), url(../img/la_paz.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
#testimonios .container
{
	z-index: 3;
	position: relative;
}
#nosotros 
{

}
#nosotros .columna-cocinero
{
	
}
#nosotros .columna-cocinero .contenedor-cocinero-imagen
{
	position: relative;
	width: 100%;
	padding-bottom: 56.25%;
}
#nosotros .columna-cocinero .contenedor-cocinero-imagen img
{
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#nosotros .columna-cocinero-info
{
	display: flex;
	justify-content: center;
	flex-direction: column;
}
#nosotros .columna-cocinero-info h2
{
	color: #fad5ad;
	margin-top: 0;
	font-size: 3rem;
	font-style: italic;
}
#nosotros .columna-cocinero-info p
{
	font-style: italic;
	font-size: 1.5rem;
	margin:0;
}
#contacto
{
	background-color: #f7e7bd;
}

#contacto .columna-info-contacto
{
	font-style: italic;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#contacto .columna-info-contacto h2,
#contacto .columna-info-contacto .telefono,
#contacto .columna-info-contacto .email
{
	color:#62760c;
	font-size: 2.3rem;
	text-decoration: none;
	margin-bottom: 1rem;
	display: inline-block;
	margin-top: 0;
}
#contacto .columna-info-contacto .email
{
	margin-bottom: 0;
}
#reserva
{
	background-color: #e6d29e;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.trama
{
	background-color: rgba(2,70,31,0.8);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	z-index: 9999;
}
.cuerpoimagen
{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	z-index: 99999;
}
.cuerpoimagen .cerrarimagen
{
	position: fixed;
	top: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--amarillo);
	width: 4rem;
	height: 4rem;
	text-decoration: none;
	padding: 0.5rem;
	color: #59886b;
	font-size: 2rem;
	z-index: 7;


}
.cuerpoimagen img
{
	height: 100%;
	width: auto;;
	object-fit: contain;
	object-position: center;
	position: fixed;
	/*z-index: 6;*/
	top: 0;
	left: 50%;
	z-index: 6;
	transform: translateX(-50%);
}
.titulo-acordion
{
	padding: 1rem;
	padding-right: 4rem;
	position: relative;
	margin-top: 0.5rem;
	background-color: var(--amarillo);
	border-top-right-radius: 0.5rem;
	border-top-left-radius: 0.5rem;
	cursor: pointer;
	margin-bottom: 0;
}
.titulo-acordion:first-child
{
	margin-top: 0;
}
.titulo-acordion i
{
	position: absolute;
	font-size: 2rem;
	right: 1rem;
	top:50%;
	transform: translateY(-50%);
}
.cuerpo-acordion
{
	padding: 2rem 1rem;
	display: none;
	border: 0.3rem solid var(--amarillo);
}
@media(min-width: 1200px)
{
	.container
	{
		width: 100%;
	}
}


@media (max-width: 1199px)
{
	.container
	{
		width: 960px;
	}
}

@media (max-width: 991px)
{
	.container
	{
		width: 750px;
	}
}

@media (max-width: 767px) 
{
	html
	{
		font-size: 4vw;
	}
	footer .pie 
	{
		text-align: center;
		padding-top: 3.8rem;
	}
	footer .pie .lista-redes 
	{
		justify-content: center;
		margin-bottom: 0.7rem;
	}
	footer .pie .lista-redes a
	{
		margin-left: 1rem;
		margin-right: 1rem;
		font-size: 1.5rem;
	}
	.container
	{
		width: 100%;
	}
	.columna-mb-100
	{
		width: 100%;
	}
	.columna-mb-75
	{
		width: 75%;
	}
	.columna-mb-50
	{
		width: 50%;
	}
	.columna-mb-41
	{
		width: 41.66%;
	}
	.columna-mb-33
	{
		width: 33.33%;
	}
	.columna-mb-25
	{
		width: 25%;
	}
	.columna-mb-16
	{
		width: 16.66%;
	}
	.columna-mb-8
	{
		width: 8.33%;
	}
	.empujar-mb-0
	{
		margin-left: 0;
	}
	.orden
	{
		order: 0;
	}
	.titulos
	{
		font-size: 4rem;	
	}
	.cabecera .link-logo{
		position: relative;
		z-index: 2;
	}
	.cabecera .link-logo .logo 
	{
    width: 4rem;
    height: auto;
	}

	.cabecera .buses
	{
		display: block;
		position: relative;
		z-index: 2;
	}
	.cabecera .menu
	{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #62760c;
		/*display: flex;*/
		justify-content: center;
		align-items: center;
		flex-direction: column;
		z-index: 1;
		display: none;
		display: flex;
		transform: translateX(100%);
		transition: all 0.5s ease;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.cabecera .menu.abierto
	{
		transform: translateX(0);
	}
	.cabecera .menu a
	{
		margin:1rem 0;
		font-size: 2rem;
	}
	.seccion
	{
		padding-bottom: 2.8rem;
		padding-top: 2.8rem;
	}
	.contenedor-cuadrado .contenido-cuadrado 
	{
		top:50%;
		transform:translateY(-50%);
	}
	.mapa
	{
		padding-bottom: 100%;
	}
	.padding-grande
	{
		padding: 2rem;
	}
	.form-bloque .form-input
	{
		font-size: 1.4rem;
	}
	.form-bloques.form-bloque-boton .btn
	{
		width: 100%;
		font-size: 1.2rem;
	}
	.form-bloques1 select
	{
		background: #7ea04d;
		color: #fff;
		padding: 10px;
		width: 100%;
		height: 50px;
		border:none;
		font-size: 18px;
		box-shadow: 0 5px 25px rgba(0,0,0,.4);
		-webkit-appearance: button;
		outline: none;

	}
	.form-bloques1:before
	{
		content: '\f358';
		font-family: "Font Awesome 5 Free";
		position: absolute;
		right: 8%;
		width: 30px;
		height: 50px;
		text-align: center;
		line-height: 50px;
		color: #fff;
		font-size: 25px;
		pointer-events: none;
		background: #7ea04d;

	}
	.form-bloques1 hover:before
	{
		background: #8db596;
	}
	.fila.fila-centrada
	{
		
	 	width: auto;
	}
	.formulario
	{
		grid-template-columns: 1fr;
	}
	.formulario_grupo-termino,
	.formulario_mensaje,
	.formulario_grupo-btn-enviar
	{
		grid-column: span 1;
	}
	.formulario_btn
	{
		height: 45px;
		line-height: 45px;
		width: 100%;
	}
	.cuerpoimagen img
	{
		height: auto;
		width: 100%;;
		position: fixed;
		top: 50%;
		left: 0;
		z-index: 6;
		transform: translateY(-50%);
	}

	#banner,
	#banner .banner-nosotros,
	#banner .banner-contacto
	{
		height: 100vh;
	}
	#banner .container h1 
	{
		font-size: 4rem;
	}

	#servicios .contenedor-serv
	{
		height: auto;
		margin-bottom: 1rem;
	}
	#conocenos
	{
		padding-bottom: 0;
	}
	#conocenos .fila:nth-child(2)
	{
		padding: 0;
	}
	#nosotros .columna-cocinero-info
	{
		display: block;
	}
	#nosotros .columna-cocinero-info h2
	{
		font-size: 2rem;
	}
	#nosotros .columna-cocinero-info p
	{
		font-size: 1rem;
	}
	#nosotros .columna-cocinero-info.derecha-texto
	{
		text-align: left;
	}
	#nosotros .columna-info-contacto.derecha-texto
	{
		text-align: left;
	}

	#contacto .columna-info-contacto h2,
	#contacto .columna-info-contacto .telefono,
	#contacto .columna-info-contacto .email
	{
		font-size: 1.4rem;
	}
	#contacto .columna-info-contacto .email
	{
		margin-bottom: 2rem;
	}
}

/*
@media (min-width: 768px)
{
	body
	{
		background-color: red;
	}
}
@media (min-width: 992px)
{
	body
	{
		background-color: yellow;
	}
}
@media (min-width: 1200px)
{
	body
	{
		background-color: blue;
	}
}*/